/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  color: $color-grey-dark;
  font-family: $font-openSans;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
