/* ==========================================================================
   UI KIT PAGE ONLY
   ========================================================================== */

html {
  background-color: #f0f0f0;
}

.c-flex-wrapper {
  display: flex;
  flex-wrap: wrap;


  // E: Item
  &__item {
    flex: 0 1 auto;
    flex-basis: 17%;
    margin-bottom: 45px;
    padding: 0 5px;


    // M: Width auto
    &--width-auto {
      flex-basis: auto;
    }


    // M: Grow
    &--grow {
      flex-grow: 1;
    }
  }
}
