/* ==========================================================================
   #HIDE
   ========================================================================== */

.u-hidden {

  &#{$inuit-widths-breakpoint-separator}mobile {

    @include mq($until: tablet) {
      display: none !important;
    }
  }

  &#{$inuit-widths-breakpoint-separator}tablet {

    @include mq(tablet, desktop) {
      display: none !important;
    }
  }

  &#{$inuit-widths-breakpoint-separator}portable {

    @include mq($until: desktop) {
      display: none !important;
    }
  }

  &#{$inuit-widths-breakpoint-separator}tablet-and-up {

    @include mq($from: tablet) {
      display: none !important;
    }
  }

  &#{$inuit-widths-breakpoint-separator}desktop {

    @include mq($from: desktop) {
      display: none !important;
    }
  }
}
