/* ==========================================================================
   #FULL HEIGHT
   ========================================================================== */

.u-full-height {
  display: flex;

  > * {
    flex: 1 1 auto;
    width: 100%;
  }
}
