/* ==========================================================================
   #FIXED STICKY
   ========================================================================== */

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}

/* When position: sticky is supported but native behavior is ignored */
.fixed-supported .fixedsticky-off,
.fixedsticky-withoutfixedfixed .fixedsticky-off {
  position: static;
}

.fixed-supported .fixedsticky-on,
.fixedsticky-withoutfixedfixed .fixedsticky-on {
  position: fixed;
}

.fixedsticky-dummy {
  display: none;
}

.fixedsticky-on + .fixedsticky-dummy {
  display: block;
}
