///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Fonts
$font-openSans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Colors
$color-grey-lighter: #c3cdd5;
$color-grey-light:   #b4c4d1;
$color-grey:         #9fa3a7;
$color-grey-dark:    #222222;

$color-red:          #ec2b2b;
$color-red-dark:     #bc4660;
$color-green:        #0bc618;
$color-blue:         #2bb3ec;
$color-blue-dark:    #3c4858;
$color-blue-light:   #64cbed;
$color-yellow:       #fffc00;
$color-orange:       #ffc80a;
