@font-face {
  font-family: 'icomoon-membershyp';
  src:
    url('fonts/icomoon-membershyp.ttf?hn0ted') format('truetype'),
    url('fonts/icomoon-membershyp.woff?hn0ted') format('woff'),
    url('fonts/icomoon-membershyp.svg?hn0ted#icomoon-membershyp') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-membershyp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon--female:before {
  content: "\e90d";
}
.c-icon--male:before {
  content: "\e90f";
}
.c-icon--search:before {
  content: "\e910";
}
.c-icon--add-user:before {
  content: "\e900";
}
.c-icon--chevron-arrow-down:before {
  content: "\e901";
}
.c-icon--cross-circular:before {
  content: "\e902";
}
.c-icon--dollar:before {
  content: "\e903";
}
.c-icon--down-arrow-circular:before {
  content: "\e904";
}
.c-icon--instagram:before {
  content: "\e905";
}
.c-icon--kik:before {
  content: "\e906";
}
.c-icon--photo-camera:before {
  content: "\e907";
}
.c-icon--remove-user:before {
  content: "\e908";
}
.c-icon--snapchat:before {
  content: "\e909";
}
.c-icon--twitter:before {
  content: "\e90a";
}
.c-icon--verify-circular:before {
  content: "\e90b";
}
.c-icon--whatsapp:before {
  content: "\e90c";
}
.c-icon--play:before {
  content: "\e90e";
}
.c-icon--arrow-right:before {
  content: "\e911";
}
.c-icon--arrow-left:before {
  content: "\e912";
}

