@import "variables";

@font-face {
  font-family: 'icomoon-membershyp';
  src:
    url('#{$icomoon-font-path}/icomoon-membershyp.ttf?hn0ted') format('truetype'),
    url('#{$icomoon-font-path}/icomoon-membershyp.woff?hn0ted') format('woff'),
    url('#{$icomoon-font-path}/icomoon-membershyp.svg?hn0ted#icomoon-membershyp') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-membershyp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon--female {
  &:before {
    content: $c-icon--female;
  }
}
.c-icon--male {
  &:before {
    content: $c-icon--male;
  }
}
.c-icon--search {
  &:before {
    content: $c-icon--search;
  }
}
.c-icon--add-user {
  &:before {
    content: $c-icon--add-user;
  }
}
.c-icon--chevron-arrow-down {
  &:before {
    content: $c-icon--chevron-arrow-down;
  }
}
.c-icon--cross-circular {
  &:before {
    content: $c-icon--cross-circular;
  }
}
.c-icon--dollar {
  &:before {
    content: $c-icon--dollar;
  }
}
.c-icon--down-arrow-circular {
  &:before {
    content: $c-icon--down-arrow-circular;
  }
}
.c-icon--instagram {
  &:before {
    content: $c-icon--instagram;
  }
}
.c-icon--kik {
  &:before {
    content: $c-icon--kik;
  }
}
.c-icon--photo-camera {
  &:before {
    content: $c-icon--photo-camera;
  }
}
.c-icon--remove-user {
  &:before {
    content: $c-icon--remove-user;
  }
}
.c-icon--snapchat {
  &:before {
    content: $c-icon--snapchat;
  }
}
.c-icon--twitter {
  &:before {
    content: $c-icon--twitter;
  }
}
.c-icon--verify-circular {
  &:before {
    content: $c-icon--verify-circular;
  }
}
.c-icon--whatsapp {
  &:before {
    content: $c-icon--whatsapp;
  }
}
.c-icon--play {
  &:before {
    content: $c-icon--play;
  }
}
.c-icon--arrow-right {
  &:before {
    content: $c-icon--arrow-right;
  }
}
.c-icon--arrow-left {
  &:before {
    content: $c-icon--arrow-left;
  }
}

