$icomoon-font-path: "fonts" !default;

$c-icon--female: "\e90d";
$c-icon--male: "\e90f";
$c-icon--search: "\e910";
$c-icon--add-user: "\e900";
$c-icon--chevron-arrow-down: "\e901";
$c-icon--cross-circular: "\e902";
$c-icon--dollar: "\e903";
$c-icon--down-arrow-circular: "\e904";
$c-icon--instagram: "\e905";
$c-icon--kik: "\e906";
$c-icon--photo-camera: "\e907";
$c-icon--remove-user: "\e908";
$c-icon--snapchat: "\e909";
$c-icon--twitter: "\e90a";
$c-icon--verify-circular: "\e90b";
$c-icon--whatsapp: "\e90c";
$c-icon--play: "\e90e";
$c-icon--arrow-right: "\e911";
$c-icon--arrow-left: "\e912";

