/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

.o-wrapper {

  @include mq($until: tablet) {
    @include padding(null $inuit-wrapper-padding-mobile);
  }

  @include mq(tablet, desktop) {
    @include padding(null $inuit-wrapper-padding-tablet);
  }

  &--narrow {
    max-width: $inuit-wrapper-narrow-width-until-desktop;

    @include mq($from: desktop) {
      max-width: $inuit-wrapper-narrow-width;
    }
  }

  &--wide {
    max-width: $inuit-wrapper-wide-width;
  }

  &--fluid {
    max-width: none;
  }
}
