/* ==========================================================================
   #LAYOUT FLEX
   ========================================================================== */

.o-layout-flex {
  display: flex;
  flex-direction: column;
  margin-left: -$inuit-global-spacing-unit;

  @include mq($until: tablet) {
    margin-left: -$inuit-global-spacing-unit-tiny;
  }

  @include mq(tablet, desktop) {
    margin-left: -$inuit-global-spacing-unit-small;
  }

  &--wrap {

    &#{$inuit-widths-breakpoint-separator}tablet-only {

      @include mq(tablet, desktop) {
        flex-wrap: wrap;
      }
    }

    &#{$inuit-widths-breakpoint-separator}tablet {

      @include mq($from: tablet) {
        flex-wrap: wrap;
      }
    }
  }

  &--flush {
    margin-left: 0;

    > .o-layout-flex__item {
      padding-left: 0;
    }
  }

  &__item {
    flex: 0 0 auto;
    padding-left: $inuit-global-spacing-unit;

    @include mq($until: tablet) {
      padding-left: $inuit-global-spacing-unit-tiny;
    }

    @include mq(tablet, desktop) {
      padding-left: $inuit-global-spacing-unit-small;
    }
  }


  // Specific breakpoints
  @if (variable-exists(mq-breakpoints)) {

    @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

      @include mq($from: $inuit-bp-name) {

        &#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
          flex-direction: row;
        }

      }

    }

  }
}
