/* ==========================================================================
   #PAGE SECTION
   ========================================================================== */

.o-page-section {
  padding: $inuit-global-spacing-unit-small 0;

  @include mq($from: tablet) {
    padding: 35px 0;
  }
}
