/* ==========================================================================
   #SUBSECTION
   ========================================================================== */

.o-subsection {
  padding: $inuit-global-spacing-unit-tiny 0;

  @include mq($from: tablet) {
    padding: $inuit-global-spacing-unit-small 0;
  }
}
