/* ==========================================================================
   #LAYOUT
   ========================================================================== */

.o-layout {

  @include mq($until: tablet) {
    margin-left: -$inuit-global-spacing-unit-tiny;
  }

  @include mq(tablet, desktop) {
    margin-left: -$inuit-global-spacing-unit-small;
  }


  // E: Layout item
  &__item {

    @include mq($until: tablet) {
      padding-left: $inuit-global-spacing-unit-tiny;
    }

    @include mq(tablet, desktop) {
      padding-left: $inuit-global-spacing-unit-small;
    }
  }
}
