/* ==========================================================================
   #PROFILE META
   ========================================================================== */

.c-profile-meta {


  // Heading
  &__heading {
    padding-top: $inuit-global-spacing-unit-small;

    @include mq($until: tablet) {
      margin-bottom: $inuit-global-spacing-unit-small;
    }

    @include mq($from: tablet) {
      padding-top: $inuit-global-spacing-unit;
    }
  }


  // E: List
  &__list {
    margin-bottom: 40px;

    @include mq($from: tablet) {
      margin-bottom: 50px;
    }
  }


  // E: List item
  &__list-item {
    color: $color-grey-lighter;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 65px;
    }

    span {
      color: $color-grey-light;
      font-size: 14px;
    }
  }
}
