/* ==========================================================================
   #MODEL BLOCK
   ========================================================================== */

.c-model-block {
  display: block;
  position: relative;


  // E: Inner
  &__inner {

  }


  // E: Image
  &__img {

  }


  // E: Overlay
  &__overlay {
    @include position(absolute, null 0 0);
    padding: $inuit-global-spacing-unit;
  }


  // E: Media icons
  &__media-icons {
    @include position(absolute, 30px 30px null);


    // M: Bottom
    &--bottom {
      position: relative;
      bottom: -10px;
    }
  }
}
