/* ==========================================================================
   #SOCIALS
   ========================================================================== */

.c-socials {
  margin-bottom: 40px;

  @include mq($from: tablet) {
    margin-bottom: 60px;
  }


  // E: Item
  &__item {

    &:not(:last-child) {
      margin-right: 13px;
    }

    img {

      @include mq($until:tablet) {
        max-height: 40px;
        width: auto;
      }
    }
  }


  // M: Small
  &--small {
    margin-bottom: 0;

    .c-socials__item {

      img {
        max-height: 22px;
        width: auto;
      }
    }
  }
}
