/* ==========================================================================
  #HOW TO STEPS
  ========================================================================== */

.c-how-to-steps {
  counter-reset: how-to-steps;
  padding-bottom: 40px;

  @include mq($until: tablet) {
    padding-top: 20px;
  }

  @include mq($from: tablet) {
    padding-bottom: $inuit-global-spacing-unit-large;
  }

  // E: Item
  &__item {

    &:not(:last-child) {
      margin-bottom: 70px;

      @include mq($from: tablet) {
        margin-bottom: 95px;
      }
    }

    &:nth-child(2n+1) {

      @include mq($from: tablet) {
        flex-basis: 50%;
        flex-grow: 1;
      }
    }

    &:nth-child(2) {

      @include mq($from: tablet) {
        padding-top: 123px;
      }
    }

    &:nth-child(3) {

      @include mq($from: tablet) {
        margin-top: -123px;
      }
    }
  }


  // E: Block
  &__block {
    max-width: 230px;

    @include mq($until: tablet) {
      @include margin(null auto);
    }

    @include mq($from: desktop) {
      max-width: 300px;
    }
  }


  // E: Counter label
  &__counter-label {
    align-items: center;
    display: flex;
    height: 143px;
    position: relative;

    &::before {
      @include position(absolute, -35px null null 27px);
      color: #ebebeb;
      counter-increment: how-to-steps;
      content: counter(how-to-steps);
      display: inline-block;
      font-family: $font-roboto;
      font-size: 200px;
      line-height: 1;
      z-index: 1;
    }

    img {
      align-self: flex-end;
      z-index: 2;
    }
  }


  // E: Heading
  &__heading {
    display: inline-block;
    font-size: 30px;
    padding-right: 58px;
    position: relative;
    top: -10px;
    z-index: 2;
  }


  // E: Copy
  &__copy {
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 26px;


    // M: Narrow
    &--narrow {
      max-width: 195px;
    }
  }
}
