/* ==========================================================================
   #SITE NAV
   ========================================================================== */

.c-site-nav {
	background-color: #fff;
	margin-bottom: 0;
	padding: 6px 0;

	@include mq($until: tablet) {
		@include padding(null $inuit-global-spacing-unit-tiny);
		@include position(absolute, 0 null null 0);
		box-shadow: 0 10px 20px -8px transparentize(#bab9b9, 0.4);
		display: none;
		text-align: center;
		transform: translateY(-110%);
		transition: all 0.3s ease;
		width: 100%;
		z-index: 1;
	}


	// S: Is active
	&.is-open {
		transform: translateY(50%);
	}


	// E: Item
	&__item {

		@include mq($until: tablet) {
			display: block;
			margin-bottom: $inuit-global-spacing-unit-small;
		}

		&:not(:last-child) {

			@include mq($from: tablet) {
				margin-right: 25px;
			}
		}

		a {
			@include mq($until: tablet) {
				width: 100%;
			}
		}
	}


	// E: Link
	&__link {
		color: #010101;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		line-height: (18 / 12);
		padding: 11px 10px;
		text-decoration: none;
		text-transform: uppercase;
	}


	// M: Mobile
	&--mobile {
		display: block;

		@include mq($from: tablet) {
			display: none;
		}
	}
}
