/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination {
  align-items: center;
  display: flex;
  justify-content: center;


  // E: List
  &__list {
    border-radius: 28px;
    box-shadow: 0 20px 40px transparentize(#bab9b9, 0.4);
    height: 55px;
    margin: 0 14px;
    padding: 3px;
  }


  // E: List item
  &__list-item {

  }


  // E: Button
  &__btn {
    @include size(49px);
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    color: #dcdcdc;
    font-size: 18px;
    font-weight: 600;
    display: block;
    line-height: (45 / 18);
    position: relative;
    text-align: center;
    text-decoration: none;

    &:hover {
      border-color: $color-red-dark;
      color: $color-red-dark;
    }

    .c-icon {
      @include position(absolute, 50% null null 50%);
      font-size: 15px;
      transform: translate(-50%, -50%);
    }


    // S: Is current state
    &.is-current {
      background-color: $color-red-dark;
      border-color: $color-red-dark;
      color: #fff;
    }


    // M: Prev link
    &--prev {

    }


    // M: Next link
    &--next {

    }
  }
}
