/* ==========================================================================
   #NAV
   ========================================================================== */

.c-nav {
  background-color: #fff;
  border-radius: 26px;
  box-shadow: 0 20px 40px transparentize(#bab9b9, 0.4);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin: -5px 0 0;
  padding: 5px;


  // E: Item
  &__item {

  }


  // E: Link
  &__link {
    border-radius: 21px;
    display: inline-block;
    color: $color-grey-light;
    padding: 12px 28px;
    text-decoration: none;
    text-transform: uppercase;


    // S: Current state
    &.is-current {
      background-color: #d2dae1;
      color: #fff;
      font-weight: 700;
    }
  }
}
