/* ==========================================================================
   #NOUI SLIDER
   ========================================================================== */

.c-noUi {

  //
  // These styles are required for noUiSlider to function
  //

  // E: Target
  &-target {
    direction: ltr;
    position: relative;

    &,
    & * {
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-sizing: border-box;
      touch-action: none;
      user-select: none;
    }
  }


  // E: Base
  &-base {
    @include size(100%);
    position: relative;
    z-index: 1; /* Fix 401 */
  }


  // E: Connect
  &-connect {
    @include position(absolute, -1px 0 -1px 0);
  }


  // E: Origin
  &-origin {
    @include size(0);
    position: absolute;
  }


  // E: Handle
  &-handle {
    position: relative;
    z-index: 1;
  }


  // M: State tap
  &-state-tap &-connect,
  &-state-tap &-origin, {
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  }


  // M: State drag
  &-state-drag {

    * {
      cursor: inherit !important;
    }
  }


  //
  // Painting and performance
  // Browsers can paint handles in their own layer
  //

  &-base,
  &-handle {
    transform: translate3d(0, 0, 0);
  }


  //
  // Slider size and handle placement
  //

  &-horizontal {
    height: 2px;
  }

  &-horizontal &-handle {
    @include size(18px);
    left: -8px;
    top: -8px;
  }

  &-vertical {
    width: 4px;
  }

  &-vertical &-handle {
    @include size(18px);
    left: -8px;
    top: -8px;
  }


  //
  // Styling
  //

  &-target {
    background: #e7eaee;
    border-radius: 2px;
    margin-bottom: 2px;

    &::before,
    &::after {
      @include size(4px);
      background-color: #d5d9df;
      border-radius: 50%;
      content: '';
      display: inline-block;
      position: absolute;
      top: -1px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &-base {
    margin-top: 51px;
  }

  &-connect {
    background: $color-red-dark;
  	box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  	transition: background 450ms;
  }


  //
  // Handles and cursors
  //

  &-draggable {
    cursor: ew-resize;
  }

  &-vertical &-draggable {
    cursor: ns-resize;
  }

  &-handle {
    background: $color-red-dark;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(#000, 0.35);
    cursor: default;
  }

  // &-active {
  //   box-shadow: inset 0 0 1px #fff,
  // 	            inset 0 1px 7px #ddd,
  //               0 3px 6px -3px #bbb;
  // }


  //
  // Disabled state
  //

  [disabled] &-connect {
    background: #b8b8b8;
  }

  [disabled]#{&}-target,
  [disabled]#{&}-handle,
  [disabled] &-handle {
    cursor: not-allowed;
  }


  //
  // Base
  //

  &-pips {

    &,
    & * {
      box-sizing: border-box;
    }
  }

  &-pips {
    color: #999;
    position: absolute;
  }


  //
  // Values
  //

  &-value {
    position: absolute;
    text-align: center;
  }

  &-value-sub {
    color: #ccc;
    font-size: 10px;
  }


  //
  // Markings
  //

  &-marker {
    background: #ccc;
    position: absolute;
  }

  &-marker-sub {
    background: #aaa;
  }

  &-marker-large {
    background: #aaa;
  }


  //
  // Horizontal layout
  //

  &-pips-horizontal {
    @include size(100%, 80px);
    padding: 10px 0;
  	left: 0;
  	top: 100%;
  }

  &-value-horizontal {
    transform: translate3d(-50%, 50%, 0);
  }

  &-marker-horizontal#{&}-marker {
    @include size(2px, 5px);
    margin-left: -1px;
  }

  &-marker-horizontal#{&}-marker-sub {
    height: 10px;
  }

  &-marker-horizontal#{&}-marker-large {
    height: 15px;
  }


  //
  // Vertical layout
  //

  &-pips-vertical {
    height: 100%;
  	left: 100%;
    padding: 0 10px;
  	top: 0;
  }

  &-value-vertical {
    padding-left: 25px;
    transform: translate3d(0, 50%, 0);
  }

  &-value-vertical#{&}-marker {
    @include size(5px, 2px);
    margin-top: -1px;
  }

  &-value-vertical#{&}-marker-sub {
    width: 10px;
  }

  &-value-vertical#{&}-marker-large {
    width: 15px;
  }


  &-tooltip {
    background: $color-red-dark;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 8px 11px;
    position: absolute;
    text-align: center;
  }

  &-horizontal &-tooltip {
    left: 50%;
    bottom: calc(100% + 17px);
    transform: translate(-50%, 0);

    &::after {
      @include position(absolute, null null -4px 50%);
      @include triangle(down, $color-red-dark, 8px);
      content: '';
      transform: translateX(-50%);
    }
  }

  &-vertical &-tooltip {
    right: 120%;
    top: 50%;
    transform: translate(0, -50%);
  }
}
