/* ==========================================================================
   #FORMS
   ========================================================================== */

.c-form {


  // E: Group
  &__group {
    margin-bottom: $inuit-global-spacing-unit-tiny;
    position: relative;


    // M: No margin
    &--no-margin {
      margin-bottom: 0;
    }
  }


  // E: Item
  &__item {
    display: block;
    position: relative;


    // M: Inline
    &--inline {
      display: inline-block;
      margin-bottom: $inuit-global-spacing-unit-tiny;

      &:not(:last-child) {
        margin-right: 28px;
      }
    }


    // M: Promo
    &--promo {
      padding-left: 52px;
    }
  }


  // E: Label
  &__label {
    color: $color-grey-lighter;
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: (24 / 12) * 1em;
    text-transform: uppercase;


    // M: Tall input
    &--tall-input {
      margin-bottom: (20 / 12) * 1em;
    }
  }


  // E: Field wrapper
  &__field-wrapper {
    position: relative;
  }


  // E: Field
  &__field {
    appearance: none;
    border: 0;
    border-radius: 28px;
    box-shadow: 0 20px 40px transparentize(#bab9b9, 0.4);
    color: $color-grey-light;
    font-weight: 400;
    line-height: (18 / 16);
    outline: none;
    padding: 15px $inuit-global-spacing-unit 15px 40px;
    width: 100%;

    &::placeholder {
      color: $color-grey-light;
      font-size: 12px;
      font-weight: 700;
      line-height: (18 / 12);
      text-transform: uppercase;
    }


    // M: Taller
    &--taller {
      @include padding(18px null);
      line-height: (19 / 16);

      &::placeholder {
        line-height: (19 / 12);
      }

      ~ .c-form__field-addon {
        @include size(49px);
        top: 3px;
        transform: translateY(0);
      }
    }


    // M: Addon
    &--addon {
      padding-left: 70px;
    }


    // M: Addon right
    &--addon-right {
      padding-right: 70px;
    }
  }


  // E: Field addon
  &__field-addon {
    @include position(absolute, 50% null null 3px);
    @include size(42px);
    background-color: $color-red-dark;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);

    .c-icon {
      @include position(absolute, 50% 50% null null);
      color: #fff;
      font-size: percentage(26 / 16);
      transform: translate(50%, -50%);
    }


    // M: Right
    &--right {
      left: auto;
      right: 3px;
    }
  }


  // E: Field promo
  &__field-promo {
    @include position(absolute, 50% null null 0);
    @include size(49px);
    background-color: $color-green;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-50%);

    > span {
      @include position(absolute, 50% 50% null null);
      color: #fff;
      display: inline-block;
      font-size: percentage(14 / 16);
      font-weight: 600;
      line-height: 1;
      transform: translate(50%, -50%);
    }
  }


  // E: Field submit
  &__field-submit {
    border: 0;
    cursor: pointer;


    // M: Search
    &--search {

      .c-icon {
        font-size: percentage(20 / 16);
        margin-right: -1px;
      }
    }
  }


  // E: Field note
  &__field-note {
    color: $color-grey-lighter;
    font-size: 12px;
    font-style: italic;
  }
}
