/* ==========================================================================
   #ICON ARROW DOWN
   ========================================================================== */

.c-icon-arrow-down {
  @include size(16px);
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    @include position(absolute, 50% null null null);
    @include size(9px, 2px);
    background-color: $color-grey-light;
    content: '';
  }

  &::before {
    left: 0;
    transform: rotate(45deg) translateY(-50%);
  }

  &::after {
    right: 0;
    transform: rotate(-45deg) translateY(-50%);
  }
}
