/* ==========================================================================
  #SUBSCRIBE FORM
  ========================================================================== */

.c-newsletter-subscribe-form {
  margin: 0 auto;
  max-width: 578px;
  padding-top: 29px;


  // E: Input wrapper
  &__input-wrapper {
    position: relative;
  }


  // E: Input
  &__input {
    border: 0;
    border-radius: 5px;
    box-shadow: 0 20px 40px transparentize(#bab9b9, 0.8);
    color: $color-grey;
    font-weight: 400;
    line-height: (18 / 16);
    outline: none;
    padding: 26px 122px 26px $inuit-global-spacing-unit-small;
    width: 100%;

    @include mq($from: mobileLandscape) {
      @include padding(null 155px null 37px);
    }
  }


  // E: Submit button
  &__submit {
    @include position(absolute, 0 0 null null);
  }
}
