/* ==========================================================================
  #JUSTIFIED BOXES
  ========================================================================== */

.c-justified-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // Specific breakpoints
  @if (variable-exists(mq-breakpoints)) {

    @each $inuit-bp-name, $inuit-bp-value in $mq-breakpoints {

      @include mq($from: $inuit-bp-name) {

        &#{$inuit-widths-breakpoint-separator}#{$inuit-bp-name} {
          flex-direction: row;
          justify-content: space-between;
          margin-left: -$inuit-global-spacing-unit-small;

          .c-justified-boxes__item {
            padding-left: $inuit-global-spacing-unit-small;
          }
        }

      }

    }

  }


  // E: Item
  &__item {
    flex: 0 1 auto;
  }


  // M: Items margin bottom
  &--items-margin-bottom {

    .c-justified-boxes__item {
      margin-bottom: $inuit-global-spacing-unit;
    }
  }
}
