/* ==========================================================================
  #FEATURES BLOCKS
  ========================================================================== */

.c-features-blocks {
  padding-top: $inuit-global-spacing-unit-small;

  @include mq($until: tablet) {
    align-items: center;
  }

  @include mq($from: tablet) {
    margin-bottom: 55px;
    padding-top: 74px;
  }


  // E: Item
  &__item {
    max-width: 205px;

    @include mq($until: tablet) {
      text-align: center;
    }

    @include mq($from: tablet) {
      max-width: 225px;
    }

    &:not(:last-child) {
      @include mq($until: tablet) {
        margin-bottom: $inuit-global-spacing-unit;
      }
    }
  }


  // E: Header
  &__header {
    min-height: 90px;
    margin-bottom: $inuit-global-spacing-unit-tiny;

    @include mq($from: tablet) {
      margin-bottom: $inuit-global-spacing-unit;
    }
  }


  // E: Heading
  &__heading {
    margin-bottom: 0;
  }


  // E: Copy
  &__copy {
    padding-top: 40px;

    @include mq($from: tablet) {
      padding-top: 56px;
    }

    p {
      line-height: (25 / 12);
      font-size: 12px;
    }
  }
}
