/* ==========================================================================
   #PROFILE TILE
   ========================================================================== */

.c-profile-tile {


  // E: Image link
  &__img-link {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    position: relative;

    &:hover {

      .c-profile-tile__overlay {
        opacity: 1;
        transform: none;
      }

      > img {
        filter: grayscale(100%);
      }
    }

    > img {
      transition: filter 0.3s linear;
    }
  }


  // E: Info box
  &__info-box {
    @include position(absolute, null 0 0 0);
    padding: 25px;
    z-index: 1;
  }


  // E: Heading
  &__heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }


  // E: Overlay
  &__overlay {
    @include position(absolute, 0 0 0 0);
    background-color: transparentize(#000, 0.85);
    opacity: 0;
    // transform: translateX(-20%);
    transition: all 0.3s ease;
  }


  // E: Gender icon
  &__gender {
    @include position(absolute, 30px 28px null null);

    .c-icon {
      font-size: 21px;
    }
  }


  // E: Arrow icon
  &__arrow-icon {
    @include position(absolute, 50% null null 50%);
    @include size(60px);
    background-color: transparentize(#fff, 0.8);
    border-radius: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);

    .c-icon {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
    }
  }


  // E: Expand icon
  &__expand {
    @include position(absolute, 50% null null 50%);
    @include size(44px);
    background-color: transparentize(#fff, 0.8);
    border-radius: 50%;
    display: inline-block;
    transform: translate(-50%, -50%) rotate(-45deg);

    &::before,
    &::after {
      display: inline-block;
      font-family: 'icomoon-membershyp';
      font-size: 11px;
      line-height: 1;
      position: absolute;
      top: 50%;
    }

    &::before {
      content: $c-icon--arrow-right;
      right: 4px;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: $c-icon--arrow-left;
      left: 16px;
      transform: translate(-50%, -50%);
    }
  }
}
