/* ==========================================================================
   #SITE LOGO
   ========================================================================== */

.c-site-logo {
	@include position(absolute, 50% null null $inuit-global-spacing-unit-tiny);
	line-height: 1;
	margin-bottom: 0;
	transform: translateY(-50%);

	@include mq($from: tablet) {
		left: $inuit-global-spacing-unit;
	}

	img {

		@include mq($until: tablet) {
			max-width: 160px;
		}
	}
}
