/* ==========================================================================
   #TOPBAR
   ========================================================================== */

.c-topbar {
	background-color: #fff;
	padding-top: $inuit-global-spacing-unit-tiny;
	position: relative;
	z-index: 2;

  @include mq($from: tablet) {
    padding-top: 52px;
  }


	// E: Inner
	&__inner {
		position: relative;
	}
}
