/* ==========================================================================
   #MEDIA PLAYER
   ========================================================================== */

.c-media-player {

  @include mq($from: tablet) {
    padding-right: $inuit-global-spacing-unit-small;
  }


  // E: Video
  &__video {
    position: relative;

    @include mq($from: tablet) {

      &::before {
        @include position(absolute, 28px -18px 28px null);
        background-color: #f4f4f4;
        border-radius: $inuit-global-spacing-unit-small;
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
  }


  // E: Video wrapper
  &__video-wrapper {
    border-radius: $inuit-global-spacing-unit;
    box-shadow: 0 20px 40px transparentize(#000, 0.85);

    @include mq($from: tablet) {

      &::before {
        @include position(absolute, 10px -8px 10px null);
        border-radius: $inuit-global-spacing-unit-small;
        box-shadow: 0 0 7px transparentize(#bab9b9, 0.65);
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
  }


  // E: Top icons
  &__top-icons {
    @include position(absolute, 55px 75px null);
  }


  // E: Verified icons
  &__verified {
    @include position(absolute, null 0 -14px 0);
    margin-bottom: 0;
    text-align: center;

    > li {

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }


  // E: Label
  &__label {
    color: $color-grey-lighter;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-top: 28px;
    text-align: center;
    text-transform: uppercase;
  }
}
