/* ==========================================================================
   #RADIO LABELED
   ========================================================================== */

.c-radio-labeled {
  @include size(210px, 55px);
  background-color: #fff;
  border-radius: 28px;
  position: relative;

  > input[type="radio"] {
    position: absolute;
    visibility: hidden;

    &:checked + .c-radio-labeled__check {
      background-color: $color-green;
      border-color: $color-green;

      &::before,
      &::after {
        background-color: #fff;
        bottom: 5px;
        content: '';
        height: 3px;
        position: absolute;
      }

      &::before {
        left: 1px;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        width: 8px;
      }

      &::after {
        right: 1px;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        width: 13px;
      }
    }
  }


  // E: Check
  &__check {
    @include position(absolute, 50% $inuit-global-spacing-unit-small null null);
    @include size(26px);
    border: 2px solid $color-grey-light;
    border-radius: 50%;
    transform: translateY(-50%);
  }


  // E: Image
  &__img {
    @include position(absolute, 50% null null 35px);
    display: inline-block;
    transform: translateY(-50%);
  }
}
