/* ==========================================================================
  #HEADINGS
  ========================================================================== */
.c-heading-primary,
.c-heading-secondary,
.c-heading-tertiary {
  color: $color-blue-dark;


  // M: Dark
  &--dark {
    color: $color-grey-dark;
  }
}

.c-heading-primary {
   font-size: 30px;
   font-weight: 400;
   margin-bottom: (45 / 36) * 1em;

   @include mq($from: tablet) {
     font-size: 36px;
   }
}

.c-heading-secondary {
   font-size: 28px;
   font-weight: 400;
   margin-bottom: (30 / 30) * 1em;

   @include mq($from: tablet) {
     font-size: 30px;
   }
}

.c-heading-tertiary {
   font-size: 24px;
   font-weight: 400;
   line-height: (28 / 24);
   margin-bottom: (8 / 24) * 1em;
}

.c-heading-quaternary {
  color: $color-grey-lighter;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
