/* ==========================================================================
   #LINK
   ========================================================================== */

.c-link {
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;

  .c-icon {
    font-size: 10px;
  }


  // M: Small
  &--small {
    color: $color-grey-light;
    font-size: 10px;
    letter-spacing: normal;
    text-decoration: underline;
    text-transform: none;
  }


  // M: Back
  &--back {
    color: $color-grey-lighter;
    font-size: 12px;
    font-weight: 700;

    .c-icon {
      display: inline-block;
      font-size: 10px;
      margin-right: 4px;
      transform: rotate(90deg);
      vertical-align: middle;

    }
  }


  // M: Icon right
  &--icon-right {

    .c-icon {
      display: inline-block;
      margin-left: 16px;
    }
  }
}
