/* ==========================================================================
   #OPTION CHECK
   ========================================================================== */

.c-option-check {
  display: inline-block;
  vertical-align: top;


  // E: label
  &__label {
    color: $color-grey-lighter;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: (20 / 12) * 1em;
    text-transform: uppercase;


    // M: Multiple labels
    &--multiple {
      display: flex;
      justify-content: space-around;
      margin-bottom: 11px;

      > span {
        display: inline-block;
        font-size: 8px;
        padding: 0 5px;
      }
    }
  }


  // E: Body
  &__body {
    align-items: center;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 0 20px 40px transparentize(#bab9b9, 0.4);
    display: flex;
    height: 55px;
    padding: 0 3px;
  }


  // E: Item
  &__item {
    display: block;
    font-size: 0;
    flex: 0 1 auto;

    &:not(:last-child) {
      margin-right: 3px;
    }
  }


  // E: Field wrapper
  &__field-wrapper {
    display: inline-block;
    position: relative;

    > input {
      @include position(absolute, 0 null null 0);
      visibility: hidden;

      &:checked + .c-option-check__icon {
        background-color: $color-red-dark;

        .c-icon {
          color: #fff;
        }
      }
    }
  }


  // E: Icon
  &__icon {
    @include size(49px);
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    .c-icon {
      @include position(absolute, 50% 50% null null);
      color: $color-grey-light;
      font-size: 25px;
      transform: translate(50%, -50%);
    }
  }
}
