/* ==========================================================================
   #SUBSCRIPTION INFO
   ========================================================================== */

.c-subscription-info {
  font-size: 12px;
  font-weight: 700;
  min-width: 280px;
  text-transform: uppercase;


  // Labels
  &__labels {
    display: flex;
    padding: 0 70px 0 40px;
  }


  // Labels item
  &__labels-item {
    display: inline-block;
    margin-bottom: $inuit-global-spacing-unit-small;


    // M: Aligned left
    &--aligned-left {
      margin-left: -40px;
    }
  }


  // E: Body
  &__body {
    align-items: center;
    background-color: #fff;
    border-radius: 28px;
    display: flex;
    min-height: 55px;
    padding: 0 70px 0 40px;
    position: relative;
  }


  // E: Item
  &__item {
    color: $color-grey-light;
    display: inline-block;
    flex: 0 1 auto;
    flex-basis: 70%;


    // M: Narrow
    &--narrow {
      flex-basis: 30%;
    }
  }


  // E: Close
  &__close-btn {
    @include position(absolute, 50% 30px null null);
    transform: translateY(-50%);
  }
}
