/* ==========================================================================
   #PROFILES GRID
   ========================================================================== */

.c-profiles-grid {
  margin-bottom: 25px;

  @include mq($from: tablet) {
    margin-bottom: 35px;
  }

  @include mq(desktop, wide) {
    margin-left: -$inuit-global-spacing-unit-small;
  }


  // E: Item
  &__item {
    @include padding($inuit-global-spacing-unit-tiny null);

    @include mq(desktop, wide) {
      padding-left: $inuit-global-spacing-unit-small;
    }

    @include mq($from: wide) {
      @include padding($inuit-global-spacing-unit null);
    }
  }


  // E: No margin
  &--no-margin {
    margin-bottom: 0;
  }
}
