/* ==========================================================================
  #jQuery Nice Select
  ========================================================================== */

  // Default variables
  $font_size: 12px;
  $font_size_small: 12px !default;

  $input_border_radius: 28px;
  $input_height: 55px;
  $input_height_small: 36px !default;
  $dropdown_padding-left: 40px;
  $dropdown_padding-right: 67px;

  $gray: #999 !default;
  $gray_light: #e8e8e8 !default;
  $gray_lighter: #f6f6f6 !default;
  $primary_light: $gray !default;
  $arrow_color: $color-grey-light;

  // Style the dropdown
  .nice-select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-radius: $input_border_radius;
    border: none;
    box-sizing: border-box;
    clear: both;
    color: $color-grey-light;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: $font_size;
    font-weight: 700;
    height: $input_height;
    line-height: $input_height;
    outline: none;
    padding-left: $dropdown_padding-left;
    padding-right: $dropdown_padding-right;
    position: relative;
    text-align: left !important;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    &:hover {
      border-color: darken($gray_light, 5%);
    }
    &:active, &:focus {
      border-color: $primary_light;
    }

    ~ .c-icon-arrow-down {
      display: none;
    }
    
    // Arrow
    &:after {
      border-bottom: 2px solid $arrow_color;
      border-right: 2px solid $arrow_color;
      content: '';
      display: block;
      height: 9px;
      margin-top: -7px;
      pointer-events: none;
      position: absolute;
      right: 35px;
      top: 50%;
      transform-origin: 66% 66%;
      transform: rotate(45deg);
      transition: all 0.15s ease-in-out;
      width: 9px;
    }

    &.open {
      @extend :active;
      &:after {
        transform: rotate(-135deg);
      }
      .list {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1) translateY(0);
      }
    }
    &.disabled {
      border-color: lighten($gray_light, 2%);
      color: $gray;
      pointer-events: none;
      &:after {
        border-color: lighten($arrow_color, 20%);
      }
    }

    // Modifiers
    &.wide {
      width: 100%;
      .list {
        left: 0 !important;
        right: 0 !important;
      }
    }
    &.right {
      float: right;
      .list {
        left: auto;
        right: 0;
      }
    }
    &.small {
      font-size: $font_size_small;
      height: $input_height_small;
      line-height: $input_height_small - 2;
      &:after {
        height: 4px;
        width: 4px;
      }
      .option {
        line-height: $input_height_small - 2;
        min-height: $input_height_small - 2;
      }
    }

    // List and options
    .list {
      background-color: #fff;
      border-radius: $input_border_radius;
      box-shadow: 0 10px 20px -8px transparentize(#bab9b9, 0.4);
      box-sizing: border-box;
      margin-left: $dropdown_padding-left;
      margin-top: 4px;
      opacity: 0;
      overflow: hidden;
      padding-left: 0;
      pointer-events: none;
      position: absolute;
      top: 100%; left: 0;
      transform-origin: 50% 0;
      transform: scale(.75) translateY(- $input_height / 2);
      transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
      z-index: 9;
      &:hover .option:not(:hover) {
        background-color: transparent !important;
      }
    }
    .option {
      cursor: pointer;
      font-weight: 600;
      line-height: $input_height - 2;
      list-style: none;
      min-height: $input_height - 2;
      outline: none;
      padding-left: $dropdown_padding-left;
      padding-right: $dropdown_padding-left;
      text-align: left;
      transition: all 0.2s;
      &:hover, &.focus, &.selected.focus {
        background-color: $gray_lighter;
      }
      &.selected {
        font-weight: 700;
      }
      &.disabled {
        background-color: transparent;
        color: $gray;
        cursor: default;
      }
    }
  }

  // Use display instead of opacity for IE <= 10
  .no-csspointerevents .nice-select {
    .list {
      display: none;
    }
    &.open {
      .list {
        display: block;
      }
    }
  }
