/* ==========================================================================
   #SELECT LIST
   ========================================================================== */

.c-select-list {
  background-color: #fff;
  border: 0;
  border-radius: 28px;
  box-shadow: 0 20px 40px transparentize(#bab9b9, 0.4);
  display: inline-block;
  outline: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;


  // E: Addon
  &__addon {
    @include position(absolute, 50% null null 3px);
    @include size(49px);
    background-color: $color-red-dark;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);
    z-index: 1;

    > span {
      @include position(absolute, 50% 50% null null);
      color: #fff;
      display: inline-block;
      font-size: percentage(14 / 16);
      font-weight: 600;
      line-height: 1;
      transform: translate(50%, -50%);
    }
  }

  select {
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $color-grey-light;
    font-family: $font-openSans;
    font-size: 12px;
    font-weight: 700;
    line-height: (18 / 12);
    height: 55px;
    outline: 0;
    padding: 0 67px 0 40px;
    text-transform: uppercase;
    width: inherit;
  }

  .c-icon-arrow-down {
    @include position(absolute, 50% $inuit-global-spacing-unit null null);
    transform: translateY(-50%);
  }


  // M: Addon
  &--addon {

    select,
    .nice-select {
      padding-left: 65px;
    }
  }
}
