/* ==========================================================================
   #PAYMENT ICONS
   ========================================================================== */

.c-payment-icons {
  margin-bottom: 0;
  margin-left: -$inuit-global-spacing-unit-tiny;
  padding-top: $inuit-global-spacing-unit-small;
  text-align: center;

  @include mq($from: tablet) {
    margin-left: -26px;
    padding-top: 45px;
  }


  // E: Item
  &__item {
    margin-bottom: $inuit-global-spacing-unit-tiny;

    padding-left: $inuit-global-spacing-unit-tiny;

    @include mq($from: tablet) {
      padding-left: 26px;
    }

    a {
      display: inline-block;
    }

    img {

      @include mq($until: tablet) {
        max-height: 65px;
      }
    }
  }
}
