/* ==========================================================================
  #NEWSLETTER BLOCK
  ========================================================================== */

.c-newsletter-block {


  // E: Item
  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include mq($from: tablet) {
        margin-bottom: 60px;
      }
    }


    // M: Full width
    &--wide {
      flex-basis: 100%;
    }
  }


  // E: Link
  &__link {
    color: #fff;
    text-decoration: none;
  }


  // E: Icon round
  &__icon {
    @include size(102px);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;

    .c-icon {
      @include position(absolute, 50% 50% null null);
      font-size: 47px;
      transform: translate(50%, -50%);
    }


    // M: Twitter
    &--twitter {
      background-color: $color-blue-light;
    }


    // M: Snapchat
    &--snapchat {
      background-color: $color-yellow;
    }


    // M: Subscribe
    &--subscribe {

      img {
        @include position(absolute, 50% 50% null null);
        transform: translate(50%, -50%);
      }
    }
  }


  // E: Heading
  &__heading {
    color: #212121;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: (15 / 32) * 1em;

    @include mq($from: tablet) {
      font-size: 32px;
    }
  }


  // E: Subheading
  &__subheading {
    color: $color-grey;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
