/* ==========================================================================
   #HERO
   ========================================================================== */

.c-hero {
  padding-bottom: $inuit-global-spacing-unit;


  // E: Body
  &__body {
    margin: 0 auto;
    max-width: calc(#{$inuit-wrapper-width} - (#{$inuit-wrapper-padding-mobile} * 2));

    @include mq(tablet, desktop) {
      max-width: calc(#{$inuit-wrapper-width} - (#{$inuit-wrapper-padding-tablet} * 2));
    }

    @include mq($from: desktop) {
      max-width: calc(#{$inuit-wrapper-width} - (#{$inuit-wrapper-padding} * 2));
    }


    // M: Padding top
    &--padding-top {
      padding-top: 35px;

      @include mq($from: desktop) {
        padding-top: 47px;
      }
    }
  }


  // E: Heading
  &__heading {
    color: #000;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: (80 / 48) * 1em;

    @include mq($from: tablet) {
      font-size: 48px;
    }
  }


  // E: Copy
  &__copy {
    color: #9c9c9c;
    font-size: 18px;
  }
}
