/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
  background-color: #d4dde4;
  min-height: 42px;
  margin: 65px 0 60px;
  text-align: center;
}
