/* ==========================================================================
   #PAGE FOOTER
   ========================================================================== */

.c-page-footer {
  padding-top: $inuit-global-spacing-unit-small;

  @include mq($from: tablet) {
    padding-top: 110px;
  }


  // E: Section
  &__section {
    min-height: 55px;
    position: relative;

    @include mq($until: desktop) {
      text-align: center;
    }

    @include mq($from: desktop) {
      padding-left: 220px;
    }
  }


  // E: Logo
  &__logo {
    display: inline-block;

    @include mq($until: tablet) {
      padding-bottom: 10px;
    }

    img {

      @include mq($until: tablet) {
        max-width: 160px;
      }
    }

    @include mq($from: desktop) {
      @include position(absolute, 50% null null 0);
      transform: translateY(-50%);
    }
  }


  // E: Nav
  &__nav {
    margin-bottom: 0;
    padding-top: 8px;

    @include mq($from: desktop) {
      text-align: right;
    }
  }


  // E: Nav item
  &__nav-item {

    &:not(:last-child) {
      margin-right: $inuit-global-spacing-unit-small;

      @include mq($from: tablet) {
        margin-right: $inuit-global-spacing-unit;
      }
    }
  }


  // E: Bar
  &__bar {
    padding: $inuit-global-spacing-unit 0;
    text-align: center;

    p {
      color: $color-grey-dark;
      font-size: 12px;
      margin-bottom: 0;
      opacity: 0.5;
    }
  }
}
