/* ==========================================================================
   #PROFILE SUBSCRIBE FORM
   ========================================================================== */

.c-profile-subscribe-form {

  @include mq($until: mobileLandscape) {
    text-align: center;
  }


  // E: Group
  &__group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

    @include mq($from: mobileLandscape) {
      justify-content: space-between;
    }


    // M: Submit
    &--submit {

      .c-profile-subscribe-form__group-item {

        &:not(:last-child) {
          margin-bottom: 35px;
        }
      }
    }
  }


  // E: Group item
  &__group-item {
    flex: 0 1 auto;
    margin-bottom: $inuit-global-spacing-unit-small;
  }
}
