/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  border-radius: 24px;
  border-width: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: (18 / 12);
  min-width: 112px;
  padding: 15px 26px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease $global-transition;
  white-space: nowrap;
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-red-dark;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-red-dark;
  }

  &:active {
    background-color: $color-red-dark;
  }

}

.c-btn--secondary {
  background-color: $color-green;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-green;
  }

  &:active {
    background-color: $color-green;
  }

}

.c-btn--tertiary {
  background-color: $color-blue;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-blue;
  }

}

.c-btn--quaternary {
  background-color: $color-red;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-red;
  }

  &:active {
    background-color: $color-red;
  }

}

.c-btn--quinary {
  background-color: $color-blue-light;

  &,
  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: $color-blue-light;
  }

  &:active {
    background-color: $color-blue-light;
  }

}

.c-btn--labeled {
  padding-right: 61px;
  position: relative;

  > span {
    @include position(absolute, 50% 4px null null);
    @include size(42px);
    background-color: #fff;
    border-radius: 50%;
    content: '';
    display: block;
    transform: translateY(-50%);
  }

  .c-icon {
    @include position(absolute, 50% 50% null null);
    font-size: percentage(26 / 12);
    transform: translate(50%, -50%);
  }

  &.c-btn--primary {

    .c-icon {
      color: $color-red-dark;
    }
  }

  &.c-btn--secondary {

    .c-icon {
      color: $color-green;
    }
  }

  &.c-btn--tertiary {

    .c-icon {
      color: $color-blue;
    }
  }

  &.c-btn--quaternary {

    .c-icon {
      color: $color-red;
    }
  }

  &.c-btn--quinary {

    .c-icon {
      color: $color-blue-light;
    }
  }
}

.c-btn--labeled-icon-solid {
  @extend .c-btn--labeled;

  .c-icon {
    font-size: 38px;
  }
}

.c-btn--labeled-simple {
  @extend .c-btn--labeled;

  > span {
    background-color: transparent;
  }

  &.c-btn--primary,
  &.c-btn--secondary,
  &.c-btn--tertiary,
  &.c-btn--quaternary,
  &.c-btn--quinary {

    .c-icon {
      color: #fff;
    }
  }
}





/* Size variants
   ========================================================================== */

.c-btn--small {
  @include padding(11px null);
  border-radius: 20px;
}

.c-btn--large {
  border-radius: 34px;
  font-size: 16px;
  line-height: (18 / 16);
  padding: 25px 50px;
}

.c-btn--full {
  width: 100%;
}





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 1px;

.c-btn--ghost {
  border-style: solid;
  border-width: $btn-ghost-border-width;
  padding: (11px - $btn-ghost-border-width) (18px - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
    color: #fff;
  }

  // &.c-btn--small {
  //   padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  // }
  //
  &.c-btn--large {
    border-width: 2px;
    padding: 8px $inuit-global-spacing-unit;
  }

  &.c-btn--primary {
    border-color: $color-red-dark;
    color: $color-red-dark;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-red-dark;
      color: #fff;
    }

  }

  &.c-btn--secondary {
    border-color: $color-green;
    color: $color-green;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-green;
      color: #fff;
    }

  }

  &.c-btn--tertiary {
    border-color: $color-blue;
    color: $color-blue;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-blue;
      color: #fff;
    }

  }

  &.c-btn--quaternary {
    border-color: $color-red;
    color: $color-red;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-red;
      color: #fff;
    }

  }

}

.c-btn--ghost-white {

  &.c-btn--primary,
  &.c-btn--secondary,
  &.c-btn--tertiary,
  &.c-btn--quaternary {
    color: #fff;
  }
}





/* Specific buttons
   ========================================================================== */

.c-btn--close {
  @include hide-text;
  @include size(26px);
  margin-right: -9px;
  min-width: auto;
  padding: 0;
  transform: translateY(-50%);

  &::before,
  &::after {
    @include position(absolute, 50% null null 50%);
    @include size(3px, 12px);
    background-color: #fff;
    border-radius: 2px;
    content: '';
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

.c-btn--close-solid {
  @extend .c-btn--close;
  background-color: $color-red;
  border-radius: 50%;
}

.c-btn--subscribe {
  @include padding(26px null);
  background-color: $color-orange;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: (18 / 14);

  @include mq($from: mobileLandscape) {
    min-width: 142px;
  }
}

.c-btn--menu {
  @include size(48px);
  background: none;
  border: 0;
  min-width: auto;
  padding: 0;
  position: relative;

  > * {
    @include hide-text;
    @include position(absolute, 50% null null 50%);
    @include size(18px, 2px);
    background-color: #010101;
    transform: translate(-50%, -50%);
  }

  &::before,
  &::after {
    @include size(18px, 2px);
    background-color: #010101;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &::before {
    top: 18px;
  }

  &::after {
    bottom: 18px;
  }
}
