/* ==========================================================================
   #FILTERS BAR
   ========================================================================== */

.c-filters-bar {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
  margin-left: -$inuit-global-spacing-unit-tiny;

  @include mq($from: tablet) {
    justify-content: space-between;
  }

  @include mq($until: desktop) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }


  // E: Item
  &__item {
    flex: 0 1 auto;
    padding-left: $inuit-global-spacing-unit-tiny;

    @include mq($until: desktop) {
      margin-bottom: $inuit-global-spacing-unit;
    }


    // Slider
    &--slider {
      flex-basis: 390px;
    }
  }
}
