/* ==========================================================================
  #OWL
  ========================================================================== */

$nav-disabled-opacity: 0;
$container-vertical-padding: 54px;

.owl-theme {

  .owl {

    &-stage {
      @include padding($container-vertical-padding null);
    }

    &-item {
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.3s ease;

      &:not(.active) {
        transform: scale(0.9);
      }

      .c-model-block__img {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in;
      }

      &.active {
        z-index: 1;
      }

      &:not(.center) {

        .c-model-block {
          background-color: #fff;
        }

        .c-model-block__inner {
          opacity: 0.4;
        }
      }

      &.center {
        transform: scale(1.2261);
        z-index: 10;

        .c-model-block__img {
          filter: grayscale(0%);
        }
      }
    }
  }


	// Styling Next and Prev buttons
	.owl-nav {
    @include position(absolute, 0 null null);
    @include size(100%);
    display: flex;
    justify-content: space-between;
		margin-top: 0;
    padding: $container-vertical-padding 0;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
      @include hide-text;
      flex-basis: 22.8%;
			margin: 0;
			padding: 0;
			background: transparent;
			display: inline-block;
			cursor: pointer;

			&:hover {
				background: transparent;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}
}
