/* ==========================================================================
   #LABEL GROUP
   ========================================================================== */

.c-label-group {
  display: flex;


  // E: Item
  &__item {

    &:not(:last-child) {
      margin-right: 8px;
    }
  }


  // E: Value
  &__value {
    color: $color-red-dark;
    font-size: 30px;
    font-weight: 600;
  }
}
