/* ==========================================================================
   #PAGE HEADER
   ========================================================================== */

.c-page-header {
  padding-bottom: $inuit-global-spacing-unit;

  @include mq($from: tablet) {
    padding-bottom: 52px;
  }


  // M: Padding bottom small
  &--padding-bottom-small {
    padding-bottom: 13px;
  }
}
