/* ==========================================================================
   #PROFILE COPY
   ========================================================================== */

.c-profile-copy {
  font-size: 14px;
  margin-bottom: $inuit-global-spacing-unit;

  p {

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
