/* ==========================================================================
   #SITE NAVBAR
   ========================================================================== */

.c-site-navbar {
	padding-left: 180px;
	text-align: right;

	@include mq($from: tablet) {
		padding-left: 220px;
	}


	// E: Menu toggle
	&__toggle {
		position: relative;
		right: -$inuit-global-spacing-unit-tiny;

		@include mq($from: tablet) {
			display: none;
		}
	}
}
