/* ==========================================================================
   #SECTION BACKGROUND
   ========================================================================== */

.c-section-bg {


  // M: Home top
  &--ht {
    background: url('../../images/backgrounds/background-home-top.png') top/100% no-repeat;
  }


  // M: Home mid
  &--hm {
    background: url('../../images/backgrounds/background-home-mid.png') center 150px no-repeat;
  }


  // M: Home bottom
  &--hb {
    background: url('../../images/backgrounds/background-home-bottom.png') top/100% no-repeat;
  }


  // M: Profile top
  &--pt {
    background: url('../../images/backgrounds/background-profile-top.png') left top/contain no-repeat;

    @include mq(tablet, desktop) {
      background-size: 40%;
    }

    @include mq($from: desktop) {
      background-size: auto;
    }
  }


  // M: Footer
  &--footer {
    background: url('../../images/backgrounds/background-footer.png') bottom/100% no-repeat;
  }
}
