/* ==========================================================================
   #LABEL
   ========================================================================== */

.c-label {
  background-color: $color-red-dark;
  border-radius: $inuit-global-spacing-unit-tiny;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: (18 / 12);
  padding: 6px 41px 6px 13px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;


  // E: Icon
  &__icon {
    @include position(absolute, 50% 3px null null);
    @include size(26px);
    background-color: #fff;
    border-radius: 50%;
    display: block;
    transform: translateY(-50%);

    .c-icon {
      @include position(absolute, 50% 50% null null);
      color: $color-red-dark;
      transform: translate(50%, -50%);
    }
  }


  // M: Success
  &--success {
    background-color: $color-green;

    .c-label__icon {

      &::before,
      &::after {
        background-color: $color-green;
        bottom: 7px;
        content: '';
        height: 3px;
        position: absolute;
      }

      &::before {
        left: 3px;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
        width: 8px;
      }

      &::after {
        right: 3px;
        transform: rotate(-45deg);
        transform-origin: 0 0;
        width: 13px;
      }
    }
  }


  // M: Warning
  &--warning {
    background-color: $color-red;

    .c-label__icon {

      &::before,
      &::after {
        @include position(absolute, 50% null null 50%);
        @include size(3px, 12px);
        background-color: $color-red;
        border-radius: 2px;
        content: '';
      }

      &::before {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
    }
  }


  // M: Large
  &--large {
    border-radius: 24px;
    padding: 15px 61px 15px 26px;

    .c-label__icon {
      @include size(42px);
      right: 4px;

      .c-icon {
        font-size: percentage(26 / 12);
      }
    }
  }
}
