/* ==========================================================================
   UI KIT PAGE ONLY
   ========================================================================== */
html {
  background-color: #f0f0f0; }

.c-flex-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .c-flex-wrapper__item {
    flex: 0 1 auto;
    flex-basis: 17%;
    margin-bottom: 45px;
    padding: 0 5px; }
    .c-flex-wrapper__item--width-auto {
      flex-basis: auto; }
    .c-flex-wrapper__item--grow {
      flex-grow: 1; }
